.approvalItem {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: white;
  font-size: 12px;
  text-align: center;
  border-bottom: #808080 0.5px dotted;
}

.detailButton {
  width: 81px;
  height: 36px;
  border: 1px solid #5112ab;
  border-radius: 18px;
  background-color: inherit;
  font-size: 12px;
}

.approvalColumnID {
  width: 76px;
}

.approvalColumnStore {
  width: 166px;
}

.approvalColumnName {
  width: 116px;
}

.approvalColumnDivision {
  width: 132px;
}

.approvalColumnContact,
.approvalColumnDate {
  width: 188px;
}

.approvalColumnApprove {
  width: 108px;
}

.columnDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
}
