.settlementHeader {
  display: flex;
  top: 0;
  height: 46px;
  align-items: center;
  background-color: #d9d9d9;
  font-size: 12px;
  text-align: center;
  padding: 0px 6px;
  margin-top: 20px;
}

.settlementColumn {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  text-overflow: ellipsis;
}

.columnXSmall {
  width: 5%;
}

.columnSmall {
  width: 10%;
}

.columnMedium {
  width: 15%;
}

.columnLarge {
  width: 20%;
}
