@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}
label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}
u,
ins,
a {
  text-decoration: none;
}
button {
  background-color: white;
  cursor: pointer;
}

/* Normalize */
html {
  width: 100%;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f6;
}
select {
  appearance: none;
}
select::-ms-expand {
  display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}
textarea {
  resize: none;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

html {
  max-height: 1080px;
  overflow-x: auto;
}

*:not(body, html)::-webkit-scrollbar {
  width: 20px;
  background: #f1f1f1;
  border-top: #808080 0.5px solid;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 4px;
  background: #b6b6b6;
  background-clip: padding-box;
}

*:not(body, html)::-webkit-scrollbar-button {
  display: block;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
}

*:not(body, html)::-webkit-scrollbar-button:start:decrement {
  background-image: url("../images/up.svg");
}
*:not(body, html)::-webkit-scrollbar-button:start:increment {
  display: none;
}

*:not(body, html)::-webkit-scrollbar-button:end:increment {
  background-image: url("../images/down.svg");
}
*:not(body, html)::-webkit-scrollbar-button:end:decrement {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
