.pageNavWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNav {
  display: flex;
  width: 1140px;
  margin-top: 10px;
}

.pageNavButton {
  display: inline-block;
  width: 25%;
  padding: 8px 0px;
  border-radius: 2px;
  background-color: #808080;
  color: white;
  font-size: 12px;
  text-align: center;
}

.pageNavButtonActive {
  background-color: #26a1f8;
}
